#root {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede scroll acidental pela animação */
  background-color: #050505;
}

.App {
  width: 100%;
  height: 100vh;
}